@use "forwards";

body {
  background-color: forwards.$backgroundColor1;
  min-width: 400px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}

#root {
  max-width: 1060px;
  background-color: forwards.$backgroundColor2;
  @include forwards.sizeStyle(100%, none, 0 auto, none);

  ul {
    list-style: none;
  }

  .ratingStars {
    @include forwards.flexBox(none, column, center);
    width: 100%;

    button {
      padding: 5px;
      width: auto;

    }
  }
}

.footerContainer {
  @include forwards.flexBox(space-between, row, none);
  background-color: forwards.$backgroundColor1;
  width: 100%;

  p {
    a {
      color: forwards.$textColor1;
    }
  }

  section {
    padding: 1em;

    p {
      a {
        color: forwards.$textColor1;
        text-decoration: none;
      }
    }

  }
}