body {
  background-color: #e1dcc5;
  min-width: 400px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /*  font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif; */
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}

#root {

  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;

  /*   a {
    text-decoration: none;
    color: #000;
  } */

  ul {
    list-style: none;
  }

  .ratingStars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
      padding: 5px;
      width: auto;

    }
  }
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 10px; */
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e1dcc5;
  /* text-align: center; */
  width: 100%;

  p {
    a {
      color: #02598b;
    }
  }

  section {
    padding: 1em;

    p {
      a {
        color: #02598b;
        text-decoration: none;
      }
    }


  }
}