@use "forwards";

* {
  @include forwards.sizeStyle(auto, auto, 0, 0);
  box-sizing: border-box;
}

.displaySingleBook {
  @include forwards.flexBox(space-around, row, center);
  width: 100%;

  .imgDetails {
    @include forwards.flexBox(none, column, center);
    perspective: 1000px; // Perspective for 3D effect

    .page {
      width: 165px;
      transition: transform 0.8s ease;
      transform-origin: left center; // Pivot like a page
      backface-visibility: hidden;
      position: relative;
      height: 40vh;

      &:hover {
        transform: rotateY(-20deg); // Flip to the left like turning a page
        opacity: 0.5;
        cursor: pointer;
      }

      &.zoomed {
        transform: scale(1.8);
        z-index: 1;
        position: relative;
        opacity: 1;

      }
    }

    .ratingStars {
      button {
        color: forwards.$textColor1;
      }
    }

    .readButton {
      background-color: forwards.$backgroundColor2;
      border: 1px solid forwards.$textColor1;
      width: 92%;
      font-size: 2rem;
      padding: 5px 0 0 0;

      &:hover {
        border: 0;
      }
    }

    button {
      padding: 15px 55px;
      overflow: hidden;
      background-color: forwards.$textColor1;
      color: forwards.$textColor2;
      @include forwards.borderStyle(5px, none);
      cursor: pointer;
      text-align: center;

      &:hover {
        color: forwards.$textColor1;
        background-color: forwards.$backgroundColor2;
        font-weight: 600;

      }
    }

    .favoriteButton {
      background-color: forwards.$backgroundColor2;
      font-size: 2rem;
      color: forwards.$textColor1;
      @include forwards.sizeStyle(auto, auto, 0, 5px 0 0 0);

      &:hover {
        color: #a2b2ba;
      }
    }

    img {
      margin-top: 1em;
      border-radius: 3px;
      box-shadow: 1px 2px 5px 0 forwards.$textColor1;
    }
  }

  .displayBookDetails {
    width: 60%;

    .authorDetails {
      width: 100%;

      .readMoreButton {
        background-color: forwards.$backgroundColor2;
        margin-top: .7rem;
        color: forwards.$textColor1;
      }

      .authorName {
        font-size: 1.2rem;
        margin-bottom: 1.3rem;

        span {
          color: forwards.$textColor1;
          text-decoration: underline;

        }
      }

      p {
        margin-top: .5rem;
      }


      .clamped {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .expanded {
        white-space: normal;
      }

    }

    .aboutBookDetails {
      @include forwards.flexBox(space-around, row, center);
      width: 100%;
      text-align: center;

      p {
        @include forwards.borderStyle(5px, 1px solid #5d5e5f);
        @include forwards.sizeStyle(180px, none, none, .5em 0);

      }

      span {
        color: forwards.$textColor1;
      }
    }

  }


  .displayMore {
    width: 100%;

  }

  button {
    padding: 8px 40px;
    overflow: hidden;
    @include forwards.borderStyle(5px, none);
    cursor: pointer;
  }
}

.sameAuthor {
  @include forwards.flexBox(center, row, center);
  @include forwards.sizeStyle(100%, auto, none, 2rem 0);
  gap: 2rem 0;
  background-color: forwards.$backgroundColor1;

  .imgsDetails {
    @include forwards.flexBox(center, column, center);
    min-width: 200px;
    height: auto;

    .readButton {
      background-color: forwards.$backgroundColor2;
      border: 1px solid forwards.$textColor1;
      width: 100%;
      font-size: 1.5rem;

      &:hover {
        border: none;
        background-color: forwards.$backgroundColor1;
      }
    }

    .favoriteButton {
      background-color: forwards.$backgroundColor1;
      font-size: 2rem;
      color: forwards.$textColor1;
      padding: 0;
      margin-top: auto;

      &:hover {
        color: forwards.$textColor2;
      }
    }

    img {
      box-shadow: 1px 2px 5px 0 forwards.$textColor1;
      @include forwards.borderStyle(3px, none);
      width: 100%;
      max-height: 200px;

      &:hover {
        opacity: 0.3;
      }
    }

    button {
      padding: 8px;
      overflow: hidden;
      background-color: forwards.$textColor1;
      color: forwards.$textColor1;
      @include forwards.borderStyle(5px, none);
      cursor: pointer;
      max-width: 80%;
    }
  }
}

.titleH3 {
  color: forwards.$textColor1;
  text-align: left;
  margin: 2rem 0 1rem 1rem;
  text-decoration: underline;
}