@use "forwards";

.favoriteBooksContianer {
  ol {
    @include forwards.flexBox(center, row, center);
    width: 100%;
    padding: 1rem 0 2rem 0;


    .favoriteBooks {
      @include forwards.flexBox(center, column, center);
      width: 15%;
      min-width: 200px;
      margin-bottom: 1.5rem;

      img {
        @include forwards.sizeStyle(120px, 150px, .3em auto, none);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      }

      .deleteButton {
        @include forwards.flexBox(space-between, row-reverse, start);
        background-color: forwards.$backgroundColor2;
        border: 0;
        font-size: 1rem;

        button {
          background-color: transparent;
          border: 0;
          cursor: pointer;
          font-size: 1rem;

          &:hover {
            color: #ef1a0b;
          }
        }
      }


      .readButton {
        @include forwards.borderStyle(5px, 1px solid forwards.$textColor1);
        background-color: forwards.$backgroundColor2;
        width: 50%;
        font-size: 1rem;
        padding: 5px 0 0 0;


        &:hover {
          border: 0;
        }


      }

      button {
        color: forwards.$textColor1;
      }

    }


  }


  .header {
    @include forwards.flexBox(space-between, row, end);
    width: 95%;
    color: forwards.$textColor1;
    margin: 2rem auto;
  }

}

hr {
  @include forwards.sizeStyle(100%, auto, auto, auto);
  color: black;
  padding-top: 3rem;
  background-color: forwards.$backgroundColor1;
  border: none;
}