@use "forwards";

.homeContainer {
  background-color: forwards.$backgroundColor2;

  .homeHeader {
    @include forwards.fontStyle(16px, 400, forwards.$textColor1);
    margin-bottom: .5em;
    text-align: left;
    @include forwards.sizeStyle(none, auto, 1.75em 0 0 1.5em, none)
  }

  .BooksContainer {
    @include forwards.flexBox(space-between, row, none);
    background-color: forwards.$backgroundColor1;
    @include forwards.sizeStyle(none, auto, 1.5rem, 3rem);
    @include forwards.borderStyle(.5rem, 0);


    ul {
      @include forwards.flexBox(space-between, column, center);
      @include forwards.sizeStyle(20%, auto, none, 1rem);
      min-width: 200px;

      .page {
        box-shadow: 1px 2px 5px 0 forwards.$textColor1;
        @include forwards.borderStyle(5px, 0);
        max-height: 200px;
        transition: transform 0.8s ease;
        transform-origin: left center; // Pivot like a page
        backface-visibility: hidden;
        position: relative;
        height: 40vh;
        width: 160px;

        &:hover {
          transform: rotateY(-20deg); // Flip to the left like turning a page
          opacity: 0.5;
          cursor: pointer;
        }
      }

      button {
        padding: 8px;
        overflow: hidden;
        @include forwards.borderStyle(5px, 0);
        cursor: pointer;
        max-width: 90%;
      }



      .favoriteButton {
        background-color: forwards.$backgroundColor1;
        @include forwards.fontStyle(2rem, none, forwards.$textColor1);
        margin-top: auto;
        width: 100%;

        &:hover {
          color: forwards.$textColor2;
          content: 'ADD';
        }
      }

      .readButton {
        background-color: forwards.$backgroundColor2;
        width: 70%;
        font-size: 1.5rem;
        border: 1px solid forwards.$textColor1;

        &:hover {
          border: none;
          background-color: forwards.$backgroundColor1;
        }
      }

      .ratingStars {
        button {
          color: forwards.$textColor1;
        }
      }
    }

  }

  .paginationControls {
    @include forwards.flexBox(center, none, none);
    margin-bottom: 1em;
    gap: 2rem;
    color: forwards.$textColor1;

    button {
      cursor: pointer;
      border: none;
      background-color: forwards.$backgroundColor2;
      font-size: 1rem;
    }
  }

}