.homeContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: #fff;


  .homeHeader {
    font-size: 16px;
    font-weight: 400;
    color: #02598b;
    margin-bottom: .5em;
    margin: 1.75em 0 0 1.5em;
    text-align: left;
    height: auto;

  }

  .BooksContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e1dcc5;
    height: auto;
    margin: 1.5rem;
    padding: 3rem;
    border-radius: .5rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 2rem;
      width: 20%;
      min-width: 200px;
      height: auto;

      img {
        box-shadow: 1px 2px 5px 0 #c3b683;
        border-radius: 5px;
        max-height: 200px;

        &:hover {
          opacity: 0.3;
        }
      }

      button {
        padding: 8px;
        overflow: hidden;
        /* background-color: #0376b8;
        color: #fff; */
        border-radius: 5px;
        cursor: pointer;
        border: 0;
        /*  text-align: center; */
        /*  margin-top: .5em; */
        max-width: 90%;
      }



      .favoriteButton {
        background-color: #e1dcc5;
        font-size: 2rem;
        color: #0376b8;
        margin-top: auto;
        width: 100%;

        /* padding: 5px 0 0 0; */
        &:hover {
          color: #fff;
        }
      }

      .readButton {
        background-color: #fff;
        border:
          /* 1px solid #0376b8 */
          none;
        width: 100%;
        font-size: 1.5rem;
        /* padding: 5px 0 0 0; */
        margin: 0;
        border: 1px solid #0376b8;

        &:hover {
          border: none;
          background-color: #e1dcc5;
        }
      }

      .ratingStars {
        button {
          color: #0376b8;
        }
      }
    }
  }

  .homeText1,
  .homeText2,
  .homeText3 {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    color: #02598b;
    margin: 1.75em 0 .7rem 1.5em;
    text-align: left;
  }

  .paginationControls {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    gap: 2rem;
    color: #02598b;

    button {
      cursor: pointer;
      border: none;
      background-color: #fff;
      font-size: 1rem;
    }
  }

}