@use "forwards";

.nav {
  @include forwards.flexBox(space-around, row, center);
  background-color: forwards.$backgroundColor1;
  padding: 1rem 0;
  font-size: large;

  img:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 5px forwards.$textColor2;
  }

}

.searchFlt {
  @include forwards.flexBox(none, row, none);
  gap: 3px;

  input {
    @include forwards.sizeStyle(300px, 37px, none, 0 0 0 1rem);
    border: none;
    border-radius: 3px;

    &:hover {
      transform: scale(1.5);
      transform-origin: right center;
      animation: moveInput 0.5s ease-in-out;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px forwards.$textColor2;

    }
  }

  @keyframes moveInput {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(-50px);
    }
  }





  button {
    padding: 0 1em;
    @include forwards.borderStyle(3px, none);

    &:hover {
      opacity: 0.5;
      cursor: pointer;
      box-shadow: 0 0 5px forwards.$textColor1;
      color: forwards.$textColor1;
    }
  }

  h3 {
    margin-right: 9px;
  }
}

.home-icon {
  width: 180px;
}

.mynen-icon {
  width: 35px;
}

.mynen-toggle-content {
  @include forwards.flexBox(flex-start, column, flex-end);
  position: absolute;
  top: 18px;
  right: 0;


  li {
    @include forwards.sizeStyle(auto, auto, 1rem auto, 0 .5rem 0 0);
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #555353;
    word-break: break-all;

    &:hover {
      color: forwards.$textColor2;
      box-shadow: 0 0 5px forwards.$textColor2;
    }

  }

  &:hover {
    background-color: transparent;
    border: none;

  }
}

@media screen and (max-width: 1000px) {
  .mynen-icon {
    display: none;
  }


}

@media screen and (max-width: 973px) {
  .footerContainer {
    @include forwards.flexBox(none, column, center);
  }
}