//Variables
$backgroundColor1: #e1dcc5 !default;
$backgroundColor2: #fff !default;
$textColor1: #0376b8 !default;
$textColor2: #fff !default;
$hoverColor2: #fff !default;

$head-shadow: -7px -3px #747373 !default;
$imgBorderRadius: 11px 11px 0 0 !default;
$imgBoxShadow: -1px -3px #515151 !default;
$textShadow: 1px 2px 3px #fff !default;