* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {

  display: flex;
  justify-content: center;
  flex-direction: column;

  .sameAuthor {
    width: 100%;

  }

  .displayMore {
    width: 100%;
  }
}