.homeContainer {
  display: flex;
  flex-direction: column;
  /*  align-items: center;
  justify-content: center; */
  height: auto;
  width: 100%;
  background-color: #fff;


  .homeHeader {
    font-size: 16px;
    font-weight: 400;
    color: #02598b;
    margin-bottom: .5em;
    margin: 1.75em 0 0 1.5em;
    text-align: left;
    height: auto;

  }

  .BooksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  flex-direction: row; */
    flex-wrap: wrap;
    background-color: #e1dcc5;
    height: auto;
    margin: 1.5rem;
    padding: 3rem;
    border-radius: .5rem;

    /*  ul {
      display: flex;
      justify-content: center;
    } */

    img {
      margin: 0 1rem;
      box-shadow: 1px 2px 5px 0 #c3b683;
      border-radius: 3px;
      max-width: 100%;
      max-height: 200px;
    }

    button {
      padding: 8px 40px;
      overflow: hidden;
      background-color: #0376b8;
      color: #fff;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin-top: .5em;
      margin-left: 0;
    }

    button:hover {
      color: #02598b;
    }

    .favoriteButton {
      background-color: #e1dcc5;
      font-size: 2rem;
      color: #0376b8;
      margin: 0;
    }
  }

  .homeText1,
  .homeText2,
  .homeText3 {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    color: #02598b;
    margin: 1.75em 0 .7rem 1.5em;
    text-align: left;
  }
}