body {
  background-color: #e1dcc5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /*  font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif; */
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
}

#root {

  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;

  a {
    text-decoration: none;
    color: #000;
  }

  ul {
    list-style: none;
  }
}